.btn {
    margin: .3%;
}
img {
    margin: 1%;
    border-style: solid;
    border-color: #2e3338;
    border-width: .3em;
    display: block;
}
body {
    background-color: #f9eecc;
}

.gifsDiv {
    float:left;
    
}
.container {
    width: 100%
}

body {
    margin: 0 2em 0 2em;
}
.col-3 {
    margin-top: 2em;
}

#submitbtn {
    margin-top: 1em;
}